<section class="py-lg-8 py-5">
  <!-- container -->
  <div class="container my-lg-8">
    <!-- row -->
    <div class="row align-items-center">
      <!-- col -->
      <div class="col-lg-6 mb-6 mb-lg-0">
        <div>
          <!-- heading -->
          <h5 class="text-dark mb-4">
            <i
              class="fe fe-check icon-xxs icon-shape bg-light-success text-success rounded-circle me-2"
            ></i>
            Une session pensée pour inspirer et transmettre
          </h5>

          <h1 class="display-3 fw-bold mb-3">
            Maîtrisez les routes Angular et boostez votre expertise !
          </h1>

          <p class="pe-lg-10 mb-5">
            Bonjour, je suis
            <strong> <code>Ghodbani Abdessalem</code>,</strong> ingénieur
            fullstack passionné et expérimenté. Dans cette session de 50
            minutes, je vous invite à plonger dans l’univers des
            <strong>routes Angular</strong> — un pilier fondamental pour toute
            application moderne. Préparée pour les étudiants de
            <strong>4e année INFEINI 2</strong>, cette intervention allie
            pédagogie, cas concrets et démonstrations live, pour vous aider à
            structurer vos projets comme des pros.
          </p>

          <!-- btn -->
          <a href="/cours-routage" class="btn btn-primary">Commencer ! </a>
        </div>
      </div>
      <!-- col -->
      <div class="col-lg-6 d-flex justify-content-center">
        <!-- images -->
        <div class="position-relative">
          <img
            src="https://geeksui.codescandy.com/geeks/assets/images/background/acedamy-img/bg-thumb.svg"
            alt="img"
          />
          <img
            src="../salouma.jpg"
            alt="girl"
            class="w-100 w-md-auto position-absolute end-0 bottom-0 img-fluid rounded-5"
          />
          <img
            src="https://geeksui.codescandy.com/geeks/assets/images/background/acedamy-img/frame-1.svg"
            alt="frame"
            class="position-absolute top-0 ms-n8 d-none d-md-inline-block"
          />
          <img
            src="https://geeksui.codescandy.com/geeks/assets/images/background/acedamy-img/frame-2.svg"
            alt="frame"
            class="position-absolute bottom-0 start-0 ms-lg-n8 ms-n6 mb-n7 d-none d-md-inline-block"
          />
          <img
            src="https://geeksui.codescandy.com/geeks/assets/images/background/acedamy-img/target.svg"
            alt="target"
            class="position-absolute bottom-0 mb-8 ms-n8 ms-lg-n1 d-none d-md-inline-block"
          />
          <img
            src="https://geeksui.codescandy.com/geeks/assets/images/background/acedamy-img/sound.svg"
            alt="sound"
            class="position-absolute top-50 mt-n8 ms-n8 d-none d-md-inline-block"
            style="left: -100px"
          />
          <img
            src="https://geeksui.codescandy.com/geeks/assets/images/background/acedamy-img/trophy.svg"
            alt="trophy"
            class="position-absolute top-0 start-0 ms-n8 d-none d-md-inline-block"
          />
        </div>
      </div>
    </div>
  </div>
</section>
